.container
  .jumbotron
    %h1 Oops! You done goofed
    %p
      If you're trying to access a
      %a{ :href => 'https://github.com/noplay/docker-osx' } docker-osx
      environment, this most definitely isn't it.
