.container
  .jumbotron
    %h1 Oops! You done goofed
    %p
      If you're trying to access a
      %a{ :href => 'https://github.com/noplay/docker-osx' } docker-osx
      environment, this
      %i most definitely
      isn't it.
    %p
      %a{ :class => "btn btn-primary btn-lg", :role => "button", :href => "http://calmingmanatee.com" } Calm me
